.hero {
  padding-bottom: 280px;

  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_blok-title .title {
  display: block;
  width: 696px;
  margin: 0px auto;
  padding-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
